<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Riri's Groceries Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="icon" type ="image/svg+xml" href="{{ url_for('static', filename='login-favicon.svg') }}">
</head>

<body>
    <div class="login-page">
        <div class="login-container">
            <h2>Sign Up</h2>
            <form method="POST">
                <div class="input-group">
                    <label>Full Name</label>
                    <input type="text" name="full_name" placeholder="Enetr Your Username" required>
                </div>
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name = "email" placeholder="Enter Your password" required>
                </div>
                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name = "password" placeholder="Enter Your password" required>
                </div>


                <button class="btn" type="submit">Register</button>
            </form>
        </div>
    </div>
</body>

</html>